.cart-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .cart-container img {
    width: 100px; 
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .cart-item img {
    width: 80px; 
    height: auto;
    margin-right: 20px;
  }
  
  .item-details {
    flex: 1; 
    text-align: left;
  }
  
  .item-details h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
  }
  
  .item-details p {
    margin: 5px 0;
  }

  .item-price {
    text-align: right; 
  }
  
  .item-price p {
    margin: 0;
  }
  
  .item-details button {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .item-details button:hover {
    background-color: #ff1a1a; 
  }
  
  .cart-summary {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin-top: 20px;
    gap: 10px;
  }
  
  
  .cart-summary h2{
    font-size: 17px;
    margin-top: 20px;
  }
  
  .buy-button{
    background-color: rgb(253, 248, 99);
    border: none;
    padding: 14px 15px;
    border-radius: 5px;
  }
  

